html {
    font-size: 16px;
    font-family: "Raleway";
    background-color: #fff;
    color: #3E4756;
}

p, td {
    font-size: 1.125rem; /* 18px */
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
    font-family: "Bodoni MT", "Garamond", 'Times New Roman', Times, serif;
    color: #30507E;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 1.625rem;
    font-weight: bold;
}

h4 {
    font-size: 1.375rem;
    font-weight: bold;
}

li {
    color: #3E4756;
}

@media only screen and (max-width: 660px) {
    p, td {
        font-size: 1rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.75rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: 3.5rem;
    }
}

/* Header */
header {
    height: 5.5vh;
    margin: 0;
}

nav.mobile {
    display: none;
}

nav.computer {
    height: 100%;
    display: flex;
    justify-content: center;
}

nav.computer ul {
    width: 1210px;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav.computer li {
    display: block;
    font-size: 1.375rem;
}

nav.computer li.divider {
    font-weight: bolder;
}

nav.computer li.nav {
    padding: 5px 30px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

nav.computer li.nav:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

nav.computer li.nav:active {
    background-color: #3E4756;
    color: white;
}

/* needs to be converted to a dropdown menu in the future */
@media only screen and (max-width: 935px) {
    nav.computer {
        display: none;
    }
    
    nav.mobile {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    #dropdown-toggle {
        width: fit-content;
        color: #3E4756;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 30px;
        margin: auto;
        border-radius: 5px;
        box-sizing: border-box;
        text-align: center;
        z-index: 99;
        transition: background-color 0.3s ease;
    }

    #dropdown-toggle:hover {
        background-color: rgb(230, 230, 230);
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        width: 172px;
        padding: 34px 0 10px;
        border-radius: 5px;
        box-sizing: border-box;
        position: absolute;
        transform: translate(0, 43%);
        box-shadow: 0 0 30px rgba(48, 80, 126, 0.5);
        z-index: 10;
    }

    .show {
        display: block;
    }

    .dropdown-content li {
        font-size: 1.125rem;
        padding: 8px 0;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .dropdown-content li:hover {
        background-color: rgb(230, 230, 230);
    }
}

@media only screen and (max-width: 660px) {
    .dropdown-content {
        width: 163px;
    }

    .dropdown-content li {
        font-size: 1rem;
    }
}

/* Hero section */
#hero {
    height: 94.5vh;
    max-width: 90%;
    margin: auto;
    /* background-color: rgb(192, 184, 184); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;
    top: 50px;
}

.hero-panel {
    height: 300px;
    width: fit-content;
    margin: auto auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-panel .tagline {
    margin: 0 auto;
}

#hero a {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

#hero button {
    padding: 0px;
    margin: 0 auto;
    background-color: none;
    border: none;
    box-sizing: border-box;
}

#hero button p {
    font-weight: 550;
    color: #854250;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    border: 2px solid #854250;
    border-radius: 4px;
    box-sizing: border-box;
}

#hero button p:hover {
    background-color: #d3c2c5;
    cursor: pointer;
}

#hero button p:active {
    background-color: #854250;
    color: #fff;
}

.see-my-work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-my-work p {
    margin: 0 30px;
}

@media only screen and (max-width: 935px) {
    #hero {
        height: 94.5vh;
    }
}

/* Portfolio section */

#portfolio {
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    box-sizing: border-box;
}

#portfolio .work-panel {
    display: flex;
    justify-content: space-between;
    width: 1210px;
    box-sizing: border-box;
    padding: 14px;
    margin: 0 auto;
    background-color: #30507E;
    border-radius: 10px;
    color: white;
    margin: 15px auto 0;
}

img.badminton, img.pcmod {
    display: block;
    width: 586px;
    height: auto;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 586px;
    max-width: 100%;
}

.project-info * {
    margin: 6px 0;
}

img.html, img.css {
    width: 40px;
    height: 40px;
}

.project-info a {
    width: fit-content;
    height: fit-content;
}

.project-info button {
    padding: 10px;
    margin: 0 auto;
    background-color: #30507E;
    border: 2px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    font-size: 1.125rem;
    font-family: Raleway;
    font-weight: 550;
}

.project-info button:hover {
    background-color: #3E4756;
    cursor: pointer;
}

.project-info button:active {
    background-color: #fff;
    color: #30507E;
}

@media only screen and (max-width: 1260px) {
    #portfolio .work-panel {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
    }

    img.badminton, img.pcmod {
        width: 100%;
    }

    .project-info {
        width: fit-content;
        align-items: center;
    }

    .project-info p {
        text-align: justify;
    }
}

@media only screen and (max-width: 1000px) {
    .project-info button {
        font-size: 1rem;
    }
}

/* About me section */
#about-me {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    box-sizing: border-box;
}

#about-me .text {
    width: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #30507E;
}

#about-me .text h2,
#about-me .text p,
#about-me .text table {
    width: 80%;
    margin: 5px auto;
}

#about-me .text h3 {
    width: 80%;
    margin: 10px auto 5px;
    text-align: center;
}

#about-me table {
    width: 100%;
}

#about-me img {
    width: 605px;
    height: auto;
    border-radius: 10px;
}

td {
    padding: 8px;
}

td:first-child {
    text-align: right;
    width: 25%;
}

@media only screen and (max-width: 1260px) {
    #about-me {
        flex-direction: column-reverse;
        align-items: center;
        max-width: 100%;
        margin: auto;
    }

    #about-me img {
        width: 400px;
        max-width: 80%;
        margin-bottom: 5px;
    }

    #about-me .text {
        border: none;
        max-width: 80%;
    }

    #about-me .text p {
        text-align: justify;
    }

    #about-me .text h2,
    #about-me .text p,
    #about-me .text table {
        width: 100%;
}
}

@media only screen and (max-width: 420px) {
    
}

/* footer section */
footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: rgb(226, 226, 226);
}

footer .panels-container {
    width: 1210px;
    display: flex;
    justify-content: space-between;
}

footer .panel {
    width: 320px;
}

.send-message form {
    width: 100%;
    margin: 10px 0 0;
}

.client-contact input {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #3E4756;
    box-sizing: border-box;
    border-radius: 5px;
}

.client-contact {
    margin-bottom: 10px;
}

.client-message textarea {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #3E4756;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

.submission {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submission input {
    margin-top: 10px;
    color: #3E4756;
    background-color: white;
    border: 1px solid #3E4756;
    border-radius: 3px;
}

footer nav {
    width: 100%;
    text-align: center;
}

footer nav h4 {
    margin-bottom: 10px;
}

footer nav li {
    margin: 5px;
}

footer nav li:hover {
    text-decoration: underline;
}

footer nav li:active {
    color: #30507E;
}

.socials h4 {
    width: 100%;
    text-align: right;
}

.socials h4 {
    margin-bottom: 10px;
}

.socials div {
    margin-bottom: 5px;
}

.socials .link {
    display: flex;
    justify-content: right;
}

.socials .link a {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #3E4756;
}

.socials .link p {
    font-size: 1rem;
}

footer img {
    width: 21px;
    height: auto;
}

.socials .link a:hover p {
    text-decoration: underline;
}

.socials .link a:active p {
    color: #30507E;
}

@media only screen and (max-width: 1260px) {
    footer {
        padding-bottom: 0;
    }

    footer .panels-container {
        flex-direction: column;
        align-items: center;
    }

    footer .panel {
        margin-bottom: 20px;
    }

    .send-message h4 {
        text-align: center;
    }

    .socials h4 {
        text-align: center;
    }

    .socials .link {
        justify-content: center;
    }
    
    .socials .link a {
        justify-content: center;
    }

    footer p, footer label {
        font-size: 0.875rem;
    }
}